@font-face {
  font-family: "Racing";
  src: url("../../Font/RacingSansOne/RacingSansOne-Regular.ttf");
}


@font-face {
  font-family: "Raleway";
  src: url("../../Font/Raleway/Raleway-VariableFont_wght.ttf");
}

